[data-unoify-modal][data-state="open"] {
    display: flex;
}

[data-unoify-modal][data-state="close"] {
    display: none;
}

[data-unoify-modal][data-state="open"] [data-modal-content] {
    animation-fill-mode: both;
    animation: var(--un-modal-animation);
    -webkit-animation: var(--un-modal-animation);
}

[data-unoify-modal] [data-modal-content][data-state="close"] {
    animation: var(--un-modal-animation);
    -webkit-animation: var(--un-modal-animation);
}

[data-modal-overlay]{
    position: fixed;
    inset: 0;
}

.un-transition-class{
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}